* {
    max-width: 500px;
    margin: auto;
  }
  
  
  /*body {
      min-width: 500px;
  }*/


  div {
    border-radius: 5px;
  }
  
  #header {
    height: 40px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    z-index: 1;
  }
  
  #title {
    margin-left: 3%;
  }
  
  #footer {
    height: 50px;
    width: 100%;
    background-color: #000000;
    clear: both;
    position: relative;
  }
  
  .left {
    height: 1000px;
    width: 45px;
    background-color: #3a3a3a;
    float: left;
    position: fixed;
  }
  
  .right {
    height: 1000px;
    width: 45px;
    background-color: #3a3a3a;
    float: right;
    position: inherit;
  }
  
  .stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: min-content;
  }
  
  p,
  li {
    font-family: 'Cormorant Garamond';
  }
  
  .head {
    font-size: 20px;
  }
  
  #name {
    font-family: Sacramento;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  }